@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title<span>:</span></h2>

<h3>App made by</h3>
<a href="https://twitter.com/PinkDragonSheep"><img height="100" width="100" src="https://pbs.twimg.com/profile_images/734898630935642112/qUvJmax3.jpg" />William "DragonSheep" Flood</a>


<h4>Depth handling algorithm made with help from</h4>
<a href="https://twitter.com/devouringmother"><img height="100" width="100" src="https://pbs.twimg.com/profile_images/851503794802262016/Zf8tTkMX.png" />ErisMetis</a>