@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Billder</h1>
    <p class="lead">A web-based 3D modeling tool</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Register for an account, and start building a 3D surface with our "intuitive" 27 number boxes.  You can even make perfect circles.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Built with:</h2>
        <p>HTML, ASP.NET, and lots of Javascript</p>
    </div>
    <div class="col-md-4">
        <h2>Completely interactive:</h2>
        <p>You can click a button that makes your model spin.  Or stop spinning.</p>
    </div>
</div>